.stepper {
  display: flex;
  justify-content: space-between;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 25px;
    width: auto;
    right: 36px;
    z-index: 0;
    border-bottom: 3px dashed #9a9191;
    margin-top: auto;
  }
}
.stepperCircle {
  z-index: 1;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  &.active {
    cursor: pointer;
  }
}
